<div class="d-flex flex-row mb-2" style="justify-content: space-between;">
  <div>
    <h1 class="title"><%= nameCharacter %></h1>
    <p class="paragraph"><%= shortDescriptionCharacter %></p>  
  </div class>
  <img id="imgCharacter" src="<%= imgsrc %>" height="300px">
</div>


<div id="border-orange-800" class="p-3 w-100 text-break">
  <h2 class="title">Descrição do Personagem</h2>
  <p class="paragraph"><%= longDescriptionCharacter %></p>
</div>

<br>

<div id="border-orange-800" class="p-3 w-100 text-break">
  <h2 class="title">Histórias Principais</h2>
  <p class="paragraph"><%= historyCharacter %></p>
</div>

<br>

<div id="border-orange-800" class="p-3 w-100 text-break">
  <h2 class="title">Passagens Bíblicas</h2>
  <p class="paragraph"><%= bibleCharacter %></p>
</div>
